::ng-deep label {
  display: block;
}
::ng-deep .wj-flexgrid {
  margin: 10px 0;
}

/* highlight the main column in the group */
::ng-deep .wj-flexgrid .wj-cells .wj-cell.main-column {
  background: #fdf1e9;
}

/* some conditional formatting */
::ng-deep .big-val {
  font-weight: bold;
  color: darkgreen;
}
::ng-deep .small-val {
  font-style: italic;
  color: rgb(202, 0, 0);
}

/* some animation when collapsing/expanding the groups */
::ng-deep .wj-flexgrid.animated .wj-colheaders .wj-header.wj-cell.wj-colgroup {
  transition: all .2s;
}
